body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 40px;
}

h1 span {
    color: dodgerblue;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width .first-img {
    width: 300px;
    padding-left: 30%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(skyblue, #0e0c0c);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

.scnd-img {
    width: 250px;
    padding-left: 80px;
}