body {
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 40px;
}

h1 span {
    color: dodgerblue;
}

.flexible-container {
    display: flex;
    margin-bottom: 90px;
}

.half-width {
    width: 50%;
    padding: 3%;
}

.half-width .first-img {
    width: 300px;
    padding-left: 30%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(skyblue, #0e0c0c);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

.scnd-img {
    width: 250px;
    padding-left: 80px;
}

.experience-item {
    width: 40%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px #585555;
    border-left: 7px solid;
    border-image: linear-gradient(skyblue, black);
    border-image-slice: 1;

}

footer p {
    text-align: center;
    font-size: 12px;
}